
.list{ list-style: none; margin: 0; padding: 25px;}
.list li{padding:15px; border-bottom:1px solid #d2d2d2; color:#30323f; font-size:13px; line-height:16px; position: relative;}
.list li a{color:#30323f; text-decoration:none;}
.list li a:hover{color:#30323f; text-decoration:none;}
.list li:hover{background:#ebf1f8;}
.list li:hover a{color:#2cabe3;}
.list li:last-of-type{padding:15px; border-bottom:0px solid #d2d2d2;}

.deleteBtn{ position: absolute; top: 0; bottom:0; right:0; margin: auto; height: 20px; width: 20px; line-height: 20px; text-align: center; background-color: #C00; color: #FFF; cursor: pointer; border-radius:50%;}